:root {
  --bs-heading-color: #136087;
}

html[dir="rtl"] * {
  font-family: "SABICTypefaceHeadline", "Almarai", sans-serif !important;
}

p {
  /* font-size: 2rem; */
}

#scrollspyHero {
  color: black;
  font-size: 1rem !important;
}

mark.wave-highlight > span {
  color: var(--bs-heading-color) !important;
}

.center-width {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/* ------ Typography ------ */

@font-face {
  font-family: "SABICTypefaceHeadline";
  src: url("./assets/fonts/SABICTypefaceHeadline_Lt.woff2") format("woff2"),
    url("./assets/fonts/SABICTypefaceHeadline_Lt.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "SABICTypefaceHeadline";
  src: url("./assets/fonts/SABICTypefaceHeadline_Rg.woff2") format("woff2"),
    url("./assets/fonts/SABICTypefaceHeadline_Rg.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "SABICTypefaceHeadline";
  src: url("./assets/fonts/SABICTypefaceHeadline.woff2") format("woff2"),
    url("./assets/fonts/SABICTypefaceHeadline.woff") format("woff");
  font-weight: 700;
}

@media (max-width: 768px) {
  html {
    font-size: .8rem;
  }

  .display-4 {
    font-size: calc(1.475rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
  }
}

.paragraph {
  font-size: 1.5rem;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5 !important;
}

.text-no-break {
  white-space: nowrap;
}
